@import "tailwindcss";

.noto-sans-medium {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500; /* Regular */
  font-style: normal;
  font-variation-settings: 
    "wdth" 100;
}
.noto-sans-regular {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Regular */
  font-style: normal;
  font-variation-settings: 
    "wdth" 100;
}

@keyframes popup-anim {
  0% {
    opacity: 0;
    transform: scale(0.95) translateY(8px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.popup {
  animation: popup-anim 0.2s ease-out forwards;
}